<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <link rel="shortcut icon" type="x-icon" href="{% static 'image/favicon.jpg' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>


    <div class="container-log">
        <h3>Password reset</h3>
        <p style="font-size: 15px">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="POST" id="login-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit">Reset my password</button>
        </form>
    </div>

</body>
</html>