<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <link rel="shortcut icon" type="x-icon" href="{% static 'image/favicon.jpg' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>


    <div class="container-log">
        <h3>Password reset sent</h3>
        <p style="font-size: 15px">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p style="font-size: 15px">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>

</body>
</html>